*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
ChefExtensionHandler/installer
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
PESTER_SANDBOX
Gemfile.lock

# YARD artifacts
.yardoc
_yardoc
doc/
